[submodule "3rdparty/webrtc-audio-processing"]
	path = 3rdparty/webrtc-audio-processing
	url = git@ssh.gitlab.freedesktop.org:pulseaudio/webrtc-audio-processing.git
[submodule "3rdparty/DeepFilterNer"]
	path = 3rdparty/DeepFilterNer
	url = https://github.com/Rikorose/DeepFilterNet.git
